body{
	font-weight: normal;
	color: #333333;
	font-family: メイリオ;
	font-size: 16px;
}
img{
	width: 100%;
}
.wrapper{
    max-width: 1200px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px 20px;
	margin-bottom: 50px;
}

.header_box{
	width: 35%;
	display: flex;
	justify-content: space-between;
}

.header_box_left{
	width: 100%;
	padding: 15px 0;
	background-color: #ff3366;
	color: white;
	font-size: 10px;
	text-align: center;
}
.header_box_right{
	width: 100%;
	padding: 15px 0;
	margin-left: 15px;
	background-color: green;
	color: white;
	font-size: 10px;
	text-align: center;
}

header h1{
	font-size: 22px;
}

.menu{
	width: 100%;
	text-align: -webkit-center;
}

.menu ul{
	width: 80%;
	display: flex;
	justify-content: space-between;
	text-align: center;
	margin-bottom: 30px;
}


.mv{
	width: 100%;
	margin-bottom: 50px;
}


.sec01_content{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 50px;
}

.sec01_left{
	width: 62%;
	text-align: left;
}
.sec01_left h3{
	font-size: 15px;
	margin-bottom: 10px;
}
.sec01_left p{
	font-size: 11px;
}

.sec01_right{
	width: 32%;
}






@media only screen and (max-width: 767px){
	.header{
		padding-bottom: 0px;
	}

	.header h1{
		font-size: 15px;
		padding: 0 10px;
	}
}

@media only screen and (max-width: 1199px){
	.wrapper {
		padding: 0 20px;
	}
	

}

@media only screen and (max-width: 767px){
	.wrapper {
		padding: 0 10px;
	}

	
	.wrapper h1{
		font-size: 22px;
		margin-bottom: 20px;
		text-align: center;
	}
}




.sec02_content{
	width: 100%;
	display: flex;
	justify-content: space-between;	
	margin-bottom: 50px;
}

.sec02 h3{
	font-size: 20px;
	margin-bottom: 10px;
}

.sec02_left{
	width: 48%;
}
.sec02_right{
	width: 48%;
}

.sec02_p{
	margin-top: 10px;
	font-size: 12px;
}

.sec03{
	background-color: #eeeeee;
	margin-bottom: 50px;
}

.sec03_box{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.sec03_left{
	width: 30%;
	margin: 30px 0;
	margin-left: 25px;
}
.sec03_right{
	width: 70%;
	margin-left: 10px;
}

.sec03 h3{
	font-size: 15px;
	margin-bottom: 5px;
}

.sec03 p{
 font-size: 12px;
}



.sec04{
margin-bottom: 50px;
}

.sec04 h1{
	font-size: 20px;
	margin-bottom: 15px;
}

.sec04_content{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.sec04_box{
	width: 30%;
}
.sec04_box h3{
	margin: 15px 0;
	font-size: 12px;
}
.sec04_box p{
	width: 30%;
}

.sec_btn{
	width: 100%;
	margin-bottom: 500px;
	background-color: #eeeeee;	
}

.content_box{
	padding: 50px 30px;
	display: flex;
	justify-content: space-between;
	
}

.btn_left{
	width: 48%;
	padding: 30px 0;
	align-items: center;
	text-align: center;
	background-color: white;	
}
.btn_right{
	width: 48%;
	padding: 30px 0;
	align-items: center;
	text-align: center;
	background-color: white;	
}


.btn_h4{
	margin-bottom: 15px;
}

.left_box{
	padding: 0 70px;
}
.right_box{
	padding: 0 60px;
}

.left_btn{
	padding: 15px;
	font-size: 12px;
	color: white;
	background-color: #ff3366;
}
.right_btn{
	padding: 15px;
	font-size: 12px;
	color: white;
	background-color: green;
}

.sec05{
	align-items: center;
	text-align: center;
	margin-bottom: 70px;

}
.sec05 h4{
	margin-bottom: 10px;
}
.sec05 p{
	margin-bottom: 10px;
}

.link{
	border-top: #fffafa groove;
	border-bottom: #fffafa groove;
}
.link_box{
	display: flex;
	justify-content: space-between;
	margin: 0 30px;
	margin-top: 40px;
	margin-bottom: 100px;
}




footer p{
	text-align: center;
	font-size: 12px;
	padding: 10px;
}

